
<div class="blogPosts">
    <p>Written by: {{blog.title}}{{user.name}}</p> 
    <p>Title:{{title}}</p> 
    <p>Content:{{blog.content}}</p>
</div>

<button class="glow-on-hover" style="position: absolute; bottom: 10%; left:40%" type="button"><a style="color: white" href='/'>Write New Post</a></button>