<h2>Login</h2>

<div class="signIn">
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <br>
      <button class="glow-on-hover" style="color: white; font-size: 20px" type="submit">Login</button>
    </div>
  </form>
</div>

<br>

<div class="signUp">
  <a href="/signup" style="color: white">No account? Sign Up Instead.</a>
</div>

<script src="/js/login.js"></script>
