
<div class="signIn">
  <h1>Create an Account</h1>
  <form class="form signup-form">
    <div class="form-group">
    <label for="user-login" class="login">Username:</label>
    <br>
    <input class="form-input newInput" type="text" id="uName-signup" />
  </div>
  <br>
  <div class="form-group">
    <label for="email-login" class="login">Email:</label>
    <br>
    <input class="form-input newInput" type="text" id="email-signup" />
  </div>
  <br>
  <div class="form-group">
    <label for="password-login" class="login">Password:</label>
    <br>
    <input class="form-input newInput" type="password" id="password-signup" />
  </div>
  <br>
  <div class="form-group">
    <button class="glow-on-hover" type="submit">Sign Up</button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>